<h1>Welcome, <%= params[:name] %></h1>
<h2>Select the type of ship you want to place</h2>
<ul>
	<li><a href='/destroyer'>Destroyer</a></li>
	<li><a href='/cruiser'>Cruiser</a></li>
	<li>Submarine</li>
	<li>Battleship</li>
	<li>Aircraft Carrier</li>
</ul>